.nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background:linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    font-family: "Poppins" sans-serif;
}
.nav p{
    font-size: 14px;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-left .face{
    width: 31px;
    height: 27px;
}